---
import Layout from "../../layouts/index.astro";
import Article from "../../app/Main/Article/index.astro";
---

<Layout title="RedArc">
	<Article title="About RedArc">
		<p>Hello</p>
	</Article>
</Layout>
