---
import "./index.css";

export type Props = {
	background?: string;
	title: string;
};

const { background, title } = Astro.props;

const style = `background-image: url(/images/cards/${background});`;
---

<div class="card" style={style}>
	<h3>{title}</h3>
</div>
