article.services {
	padding: 2rem;
}

article.services h2 {
	align-items: center;
	display: flex;
	justify-content: flex-start;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-size: 2.125rem;
	font-weight: 400;
	text-transform: uppercase;
}

.service-cards {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
