---
import "./index.css";

export type Props = {
	title: string;
};

const { title } = Astro.props;
---

<section class="box">
	<div>
		<slot name="pre" />
		<h2>{title}</h2>
		<slot />
	</div>
</section>
