body > main {
	align-items: stretch;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 7rem;
	min-height: calc(100vh - 7rem);
}

body > main > article {
	background-color: var(--background-color-article, var(--color-white, hsl(0, 0%, 100%)));
	padding: 5rem;
}

body > main > article > * + * {
	margin-top: 1rem;
}
