body > main {
	align-items: stretch;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	left: 0;
	overflow: auto;
	position: fixed;
	right: 0;
	top: 7rem;
}

body > main > article {
	background-color: var(--background-color-article, var(--color-white, hsl(0, 0%, 100%)));
	padding: 5rem 0;
}

body > main > article > * + * {
	margin-top: 1rem;
}

@media screen and (max-width: 56rem) {
	body > main {
		top: 5rem;
	}
}
