body > header > h1.logotype {
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 400;
	font-size: 2.125rem;
	line-height: 1.235;
	letter-spacing: 0.00735em;
}

body > header > h1.logotype .ved {
	color: var(--color-logo-ved, hsl(0, 0%, 100%));
}

body > header > h1.logotype .arc {
	color: var(--color-logo-arc, hsl(39, 100%, 50%));
	font-weight: 700;
}
