---
import "./styles/fonts.css";
import "./styles/reset.css";
import "./styles/root.css";
import "./styles/global.css";

import Header from "../app/Header/index.astro";
import Main from "../app/Main/index.astro";

export type Props = {
	title: string;
};

const { title } = Astro.props;

const { pathname } = Astro.url;

const page = pathname === "/" ? { class: "home" } : {};
---

<!DOCTYPE html>
<html dir="ltr" lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="RedArc prototype web site." />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body {...page}>
		<Header />
		<Main>
			<slot />
		</Main>
	</body>
</html>
